* {
    margin: 0;
}

html {
    font-family: 'Open Sans', 'Arial', sans-serif;
    background: rgb(245, 245, 245);
}

body {
    width: 80%;
    margin: 35px auto;
    padding: 40px;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.categorie1 h1,
.categorie2 h1 {
    font-size: 1.5em;
    border-left: 5px solid rgb(126, 7, 7);
    margin-top: -32px;
}

.row .entry {
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.row .entry h2 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    text-shadow: 1.4em;
}

.grid .entry {
    background: white;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    margin-bottom: 15px;
    flex-basis: 19.25%;
}

.grid .entry h2 {
    padding: 10px;
    font-size: 1.2em;
}

.presentation .entry h2 {
    font-size: 2em;
}


/******************PARTIE FLEXBOX*****************/

.row,
.grid {
    display: flex;
}

.presentation {
    flex: 0 0 50.5%;
}

.presentation .entry h2 {
    font-size: 2em;
}

body>h1 {
    margin-top: 20px;
    text-align: center;
}

.grid {
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}


/******************* PARTIE REPONSIVE ******************/

@media(max-width: 1350px) {
    body {
        width: 100%;
    }
    .categorie1,
    .categorie2 {
        flex-basis: 50%;
    }
    .presentation {
        flex-basis: 100%;
    }
    .row {
        flex-wrap: wrap;
    }
    .grid,
    .entry {
        flex-basis: 32%;
    }
    .categorie1 h1,
    .categorie2 h1 {
        margin: 10px 0 10px 5px;
    }
}

@media(max-width: 750px) {
    body {
        padding: 10px;
    }
    .categorie1,
    .categorie2 {
        flex-basis: 100%;
    }
    .grid,
    .entry {
        flex-basis: 100%;
    }
}